#titleLayout_centerView {
    background-color: #ced4da;
    height: 540px;
  }
  #startButton {
    background-color: #dee2e6;
    border-radius: 10px;
    width: 256px;
    height: 50px;
    margin: 0 auto;
    margin-top: 3vh;
    color: #f7883e;
    font-weight: bold;
    text-align: center;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  